.bs4-button-wrapper {
    display: inline-block;
    width: 100%;
}

.bs4-button{
    display:inline-flex;
    align-items:center;
    gap:10px;
    padding: var(--e-global-button-padding, 12px 24px);
    background: var(--e-global-button-background-color, var(--e-global-color-accent));
    color: var(--e-global-button-text-color, #ffffff);
    text-decoration:none;
    border-radius: var(--e-global-button-border-radius, 50px);
    transition:0.3s;
    cursor:pointer;
}

.bs4-button:hover{
    transform:none !important;
}

.bs4-icon{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    line-height:1;
    background-color: var(--e-global-color-accent);
    color: #ffffff;
}

.bs4-icon svg{
    display:inline-flex;
    align-items:center;
    justify-content:center;
}

.bs4-icon i{
    display:inline-flex;
    align-items:center;
    justify-content:center;
}

.bs4-text{
    color: #ffffff;
    display: inline-flex;
    align-items: center;
}

/* Icon Left Position */
.bs4-icon-left{
    flex-direction:row;
}

.bs4-icon-left .bs4-icon{
    order:1;
}

.bs4-icon-left .bs4-text{
    order:2;
}

/* Icon Right Position */
.bs4-icon-right{
    flex-direction:row;
}

.bs4-icon-right .bs4-text{
    order:1;
}

.bs4-icon-right .bs4-icon{
    order:2;
}
.bs4-button-wrapper.align-left {
    text-align: left;
}

.bs4-button-wrapper.align-center {
    text-align: center;
}

.bs4-button-wrapper.align-right {
    text-align: right;
}


/* heading */
.bs4-heading-wrapper p {
    margin: 0;
}
p.bs4-heading {
    margin-bottom: 0;
}